<link
href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
rel="stylesheet">

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Prompt', sans-serif;
    }

    .img {
      width: 130px;
      height: 130px;
    }

    .modal-delete {
        text-align: center;
        background-color: #ffffff;
        margin: 10% auto;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        width: 80%;
        max-width: 540px;
    }

    .btn {
        margin: 8% 10px;
      padding: 12px 30px;
      font-size: 18px;
      border: 0px;
      border-radius: 10px;
      cursor: pointer;
      color: white;
    }
    .confirm {
      background-color: #007bff;
    }
    .cancel {
      background-color: #f44336;
    }

</style

<div id="activityModal" class="modal">
    <div class="modal-delete">
            <img src="istockphoto-1478098245-170667a.jpg" class="img" alt="Warning Icon">
            <p style= "font-weight: bold ; font-size: 24px;">ยืนยันที่จะลบบันทึกกิจกรรมหรือไม่</p>
        <div class="buttons">
            <button class="btn confirm" style="font-weight: bold;">ยืนยัน</button>
            <button class="btn cancel" style="font-weight: bold;">ยกเลิก</button>
        </div>
</div>


